.top {
  margin-top: 15px;
}

.top-left {
  display: inline-block;
}
.top-right {
  float: right;
}

.top-left span:nth-child(1) {
  margin-left:25px;
  font-size: 13px;
}

.top-left span:nth-child(2) {
  margin-left:15px;
  font-size: 13px;
}

.top-right span:nth-child(1) {
  margin-right: 25px;
  font-size: 12px;
}

.top-right span:nth-child(2) {
  margin-right: 15px;
  font-size: 12px;
}

/* 글자 정렬 */
.main {
  text-align: center;
  margin-top: 55px;
  font-size: 80px;
}

/* 띄어쓰기: 자손을 표현하는 css 문법(h1 span => h1 태그의 모든 자손 중 span 태그만 선택)
   nth-child: 특정 자식 태그를 선택하는 css의 문법
   부모-자식 태그: 감싸는 상위 태그를 "부모 태그", 안쪽의 태그를 "자식 태그"라고 함
   자손: 자식의 자식의 자식 등 모든 하위 태그를 포함하는 개념 

   f12(개발자도구)를 통해 element.style에서 color 아무거나 지정 후 스포이드로 색을 추출해 코드값 입력
*/
.main span:nth-child(1) {
  color:#4485f5;
}
.main span:nth-child(2) {
  color:#ea4336;  
}
.main span:nth-child(3) {
  color:#f9bc07;
}
.main span:nth-child(4) {
  color:#4485f5;
}
.main span:nth-child(5) {
  color:#33a851;
}
.main span:nth-child(6) {
  color:#ea4336;
}

.search-bar {
  width: 500px;
}

.rounded-pill {
  padding: 8px;
  padding-left: 40px;
  padding-right: 80px;
  width: 500px;
  margin-top: 5px;
}

.fa-search {
  position: absolute;
  top: 18px;
  left: 15px;
  z-index: 1;
  color: #b4b9be;
}
.fa-keyboard {
  position: absolute;
  right: 45px;
  top: 18px;
  z-index: 1;
  color: #b4b9be;
} 

.fa-microphone {
  position: absolute;
  right: 15px;
  top: 18px;
  z-index: 1;
  color:#b4b9be;
}